body {
  background: black;
  color: black;
}

nav {
  background: skyblue;
  height: 100px;
}

main {
  background: rgb(199, 197, 197);
  margin: 125px auto;
  width: 75%;
  padding: 40px;
  text-align: center;
  line-height: 1.8;
  
}

h1{
  font-size: 2em;
  padding: 10px;
}

button{
  background: white;
  border-radius: 20px;
  border: 1px solid white;
  width: 100px;
  text-align: center;

}

.home,
.dev {
  padding: 45px 25px 45px 25px;
  font-weight: bold;
  font-size: 20px;
}
.dev{
  float: right;
  
}

.left {
  float: left;
}

.right {
  float: right;
  margin-right: 15vw;
}

.button_alignment{
  margin-left: 15vw;
  color: gray;
}


#edit {
  background-color: skyblue;
  margin-left: 10vw;
}

#delete {
  background-color: skyblue;
  margin-left: 5vw;
}

#new {
  background-color: skyblue;
  margin-left: 5vw;
}

